.container-actions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: .5rem;
    margin-bottom: 1rem;
    background-color: #f2f2f2;
    border-width: 1rem;
    border-radius: 1rem;
}

.container-selects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: .5rem;
    padding: 1rem;
    justify-content: space-evenly;
}

.container-msg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-msg {
    width: 50vw;
    font-size: 18px;
}

select {
    padding: 1rem;
    border-radius: .5rem;
    outline: none;
}

.container-button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}